{{ form_start(form) }}
{{ form_errors(form) }}
<div class="input-group">
    {{ form_widget(form.search) }}
    <div class="input-group-btn">
        <button class="btn btn-primary ml-1" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>
{{ form_end(form) }}
