<div class="input-group">
    <input type="text" id="search_show" name="search_show" required="required" class="form-control" autocomplete="off">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>
