<form id="search">
    <div class="input-group">
        <input type="text" class="term form-control" name="search_show" required="required" autocomplete="off"
               placeholder="{{ 'show.show'|trans }}">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
