<form class="watch-show" data-id="{{ id }}">
    <input type="text" class="form-control comment">
    <button class="btn btn-secondary save"><i class="fa fa-save"></i></button>
</form>
<button class="btn btn-success watch"><i class="fa fa-eye" aria-hidden="true"></i></button>
