{% extends 'base.html.twig' %}

{% block body %}
    <div class="calendar-nav">
        <input class="form-control month-picker" value="{{ currentMonth }}">
    </div>
    <div class="calendar">

    </div>
{% endblock %}
