{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>
    {{ form_start(forgotPasswordForm) }}
    {{ form_row(forgotPasswordForm.email) }}
    <button class="btn btn-primary">{{ 'send'|trans }}</button>
    {{ form_end(forgotPasswordForm) }}
{% endblock %}
