{% extends 'base.html.twig' %}

{% block body %}
    {% for show in shows %}
        <span class="unwatched-episodes" data-link="{{ path('unwatched_episodes', {'showId': show.id}) }}">
        {{ show.name }} ({{ show.episodes }})
        </span>
    {% endfor %}

    <div id="result"></div>
{% endblock %}
