{% extends 'base.html.twig' %}

{% block body %}
    {% for show in shows %}
        {{ show.name }} <span class="unwatched-episodes" data-link="{{ path('unwatched_episodes', {'showId': show.id}) }}">{{ show.episodes }}</span> <br>
    {% endfor %}

    <div id="result"></div>
{% endblock %}
