{% extends 'base.html.twig' %}

{% block body %}
    {{ userShow.show.name }}

    {% for episode in episodes %}
       <div id="{{ episode.id }}"> {% include '_inc/episode-details.html.twig' with {episode: episode} %} {{ episode.summary|raw }} {% include 'form/episode-actions.html.twig' with {episode: episode} %}</div>
    {% endfor %}
{% endblock %}
