// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';

.ui-autocomplete {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  border-radius: 5px;
  border: 1px solid #999;
  max-width: 400px;
  margin-left: 20px;
  z-index: 999;
  padding-left: 0;

}

.ui-autocomplete li div {
  padding: 5px 5px 5px 15px;
  border: 1px solid transparent;
}

.ui-autocomplete .ui-state-active {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid white;
}

.ui-menu-item div {
  border-bottom: 1px solid transparent;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete li {
  margin: 2px;
  color: white;
}

.ui-autocomplete li:hover {
  cursor: pointer;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

form.watch-show {
  display: inline-block;
}

.unwatched-show {
  display: inline-block;
  position: relative;
}

.unwatched-show span {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  padding: 0 10px;
  border-bottom-right-radius: 13px;
}

.overlay {
  z-index: 1051;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: .3s;
}

.calendar td {
  position: relative;
  height: 30px;
  padding-bottom: 20px !important;
}

td.current-day .inner {
  height: 100%;
}

.calendar span.dayoftheweek {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.calendar span.day {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 1px solid #999;
  width: 25px;
  height: 20px;
  text-align: center;
  padding: 1px;
  font-weight: bold;
  border-top-left-radius: 13px;
}

.calendar td.current-day {
  border-width: 4px;
}

@media screen and (max-width: 992px) {
  .calendar td, .calendar th {
    width: 100%;
    display: block;
    height: auto;
  }

  .calendar tr {
    background: none !important;
  }

  .calendar .weekdays, .calendar .day {
    display: none;
  }

  .calendar span.dayoftheweek {
    display: block;
    margin: 2px 5px;
  }

  .calendar td {
    display: none;
  }

  .calendar td.exists, .calendar td.current-day {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .search-box, .navbar-toggler {
    display: inline-block;
  }

  .search-box {
    width: 60%;
  }
}

.episode.watched {
  opacity: 0.6;
}

.episode.watch-later {
  background-color: rgba(0, 255, 0, 0.1);
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
}

.episode.archived {
  background-color: rgba(255, 0, 0, 0.1);
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
}

.show-image {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

#remember_me {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.unwatched-show {
  width: 100%;
  max-width: 125px;
  vertical-align: top;
  margin: 5px;
}

.unwatched-show:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  #content {
    text-align: center;
  }
}

#content .unwatched-episodes .episode:nth-child(2n), #content .show:nth-child(2n) {
  background-color: rgba(70, 70, 70, 0.1);
}

.unwatched-episodes .episode {
  padding: 5px 0;
}

#back-to-top {
  transition: .5s;
  opacity: 0.2;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 2;
}

#back-to-top:hover {
  cursor: pointer;
  opacity: 1;
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover,
.datepicker table tr td span.focused, .datepicker table tr td span:hover {
  background: rgba(70, 70, 70, 0.2);
}

.comment-episode .comment {
  transition: .3s;
}

.show-actions {
  display: inline-block;
}

.search-block {
  position: relative;
  overflow: hidden;
}

.search-block:hover {
  overflow: visible;
  z-index: 1;
}

.search-image-block {
  position: absolute;
  max-width: 100px;
}
.search-image {
  max-width: 110px;
}

.search-info-block {
  padding-left: 120px;
}

.image-list {
  max-height: 50px;
}

@media screen and (max-width: 767px) {
  .image-list {
    display: block;
    margin: auto;
    max-height: 100px;
  }
}

@import 'loader.css';
