// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

.ui-autocomplete {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  border-radius: 5px;
  border: 1px solid #999;
  max-width: 400px;
  margin-left: 20px;
  z-index: 999;
  padding-left: 0;

}

.ui-autocomplete li div {
  padding: 5px 5px 5px 15px;
  border: 1px solid transparent;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete li {
  margin: 2px;
  color: white;
}

.ui-autocomplete li:hover {
  cursor: pointer;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
}

form.watch-show {
  display: inline-block;
}

.unwatched-show {
  display: inline-block;
  position: relative;
}

.unwatched-show span {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0 10px;
  border-bottom-right-radius: 13px;
}

.unwatched-show:hover {
  cursor: pointer;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  transition: .3s;
}

.calendar td {
  position: relative;
  height: 30px;
  padding-bottom: 20px !important;
}

td.current-day .inner {
  height: 100%;
}

.calendar span.dayoftheweek {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.calendar span.day {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 1px solid #999;
  width: 25px;
  height: 20px;
  text-align: center;
  padding: 1px;
  font-weight: bold;
  border-top-left-radius: 13px;
}

@media screen and (max-width: 992px) {
  .calendar td, .calendar th {
    width: 100%;
    display: block;
    height: auto;
  }

  .calendar tr {
    background: none !important;
  }

  .calendar .weekdays, .calendar .day {
    display: none;
  }

  .calendar span.dayoftheweek {
    display: block;
    margin: 2px 5px;
  }

  .calendar td {
    display: none;
  }

  .calendar td.exists, .calendar td.current-day {
    display: block;
  }
}

@media screen and (max-width: 350px) {
 #search, .navbar-toggler {
   display: inline-block;
 }

 #search {
   width: 60%;
 }
}

.episode.watched {
  opacity: 0.6;
}

.episode.watch-later {
  background-color: rgba(0,255,0,0.2);
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
}

.episode.archived {
  background-color: rgba(255,0,0,0.2);
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
}

.show-image {
  display: inline-block;
  max-width: 400px;
  margin: auto;
}
